html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

html, body {
	font: 18px "Roboto Mono", Helvetica, sans-serif;
	color: #ebebea;
	background: #222222;
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0;
	padding: 0;
}

.welcome {
	display: block;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
}

.headline {
	margin: 25vh 0;
}

.fadeIn {
	opacity: 0;
}

.typewriter-box {
	width: fit-content;
	height: auto;
}

h1 span.feature {
	font-size: 2rem;
	color: #fccd03;
}

h1.typewriter{
	font-size: 2rem;
	overflow: hidden;
	border-right: .15em solid #fccd03;
	white-space: nowrap;
	letter-spacing: .15em;
	-webkit-animation: 
	  typing 2s steps(40, end),
	  blink-caret .75s step-end infinite;
	animation: 
	  typing 2s steps(40, end),
	  blink-caret .75s step-end infinite;
}

@-webkit-keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@-webkit-keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #fccd03 }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #fccd03 }
}

.fadeIn {
	font-size: 1.5rem;
	-webkit-animation: fadeIn 5s;
	animation: fadeIn 4s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

h2 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	line-height: .8;
}

a {
	color: inherit;
	position: relative;
	border-bottom: 1px solid #f8f8f6;
	text-decoration: none;
}

a:hover, a:focus {
	color: #fccd03;
	border-bottom: 1px solid #fccd03;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}

.main-text {
	font: 500 20px/1 "Roboto Mono", Helvetica, sans-serif;
}

.main-text-small {
	font-size: 15px;
}

.logo {
	width: 42px;
	height: 50px;
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) {
	.logo {
		width: 42px;
		height: 50px;
	}
}

.section {
	z-index: 1;
	position: relative;
	padding: 96px 0 96px 96px;
	width: calc(100vw - 96px - 7em);
	display: -webkit-box;
	display: flex;
	box-sizing: border-box;
	min-height: 100vh;
}

@media (max-width: 1024px) {
	.section {
		padding: 48px 0 48px 48px;
		width: calc(100vw - 48px - 7em);
	}
}

@media (max-width: 950px) {
	.section {
		padding: 7.5vw;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.section {
		display: block;
		min-height: 0;
	}
}

.column-section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

@media (max-width: 600px) {
	.column-section-main {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}

.section-bio {
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-bottom: 5rem;
}

.col-section {
	width: 100%;
	max-width: 382px;
}

@media (max-width: 600px) {
	.col-section {
		margin-bottom: 15vw;
	}
}

.text {
	font-size: 0.9rem;
	font-weight: 100;
	margin-bottom: -.45em;
	max-width: 700px;
}

@media (min-width: 1024px) {
	html, body {
		font-size: 21px;
	}
}

@media (max-width: 1024px) {
	html, body {
		font-size: 19px;
	}
}

@media (max-width: 768px) {
	html, body {
		font-size: 17px;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 15px;
	}
}

.section-projects {
	display: block;
	min-height: 0;
	padding-top: 0
}

.projects {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	height: 40%;
	align-self: flex-end;
}

.project {
	/* width: calc(33.3333% - 1rem); */
	width: calc(50% - 1rem);
	overflow: hidden;
	margin: 1rem 1rem;
	background-color: #1E1E1E;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px inset;
	border-radius: 0.5rem;
	color: rgb(16,12,8);
	font-size: 2rem;
	overflow: hidden;
}

.project p {
	color: #ebebea;
	margin: 1rem 0;
}
.project img {
	height: 15rem;
	object-fit: cover;
	width: 100%;
}

.project div {
	padding: 1rem 1rem;
}

.project h3 {
	font-size: 1.5rem;
	color: #ebebea;
	margin-top: 0.2rem;
}

@media (max-width:1000px) {
	.projects {
		flex-direction: column;
	}
	.project {
		width: auto;
	}

	.project .text {
		padding-top: 0;
	}
}

.skills img {
	height: 2rem;
	width: 2rem;
}
.buttons {
	display: flex;
	width: 100%;
	align-items: space-evenly;
	justify-content: center;
}

.button {
  background-color: #262626;
  border: 0;
  margin: 1rem;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #ebebea;
  font: 600 .875rem "Roboto Mono", Helvetica, sans-serif;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.buttons a {
	border-bottom: none;
}

.button:hover,
.button:hover a{
  background-color: #282828;
  color: #fccd03;
  transition: 0.5s;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.scrunch {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.scrunch:after {
	background: #222222;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.footer {
	position: fixed;
	right: 90px;
	bottom: 90px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: end;
	align-items: flex-end;
}

@media (max-width: 1024px) {
	.footer {
		right: 48px;
		bottom: 48px;
	}
}

@media (max-width: 950px) {
	.footer {
		position: relative;
		right: auto;
		bottom: auto;
		padding: 0 7.5vw 7.5vw;
		-webkit-box-align: start;
		align-items: flex-start;
	}
}

.footer-links {
	margin-top: 1em;
	line-height: 1;
	padding-bottom: 0.1em;
}

.footer-links img{
	height: 1em;
	fill: whitesmoke
}

@media (max-width: 950px) {
	.footer-links {
		display: inline;
	}
}